---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import SideNav from "../components/SideNav.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <SideNav />
    <main class="w-full">
      <Header />
      <div class="flex to-point-950 from-black bg-gradient-to-t h-[360px] flex-col justify-end p-24"><h1 class="m-0 font-thin">My Blog</h1></div>
      <section id="section">
      </section>
    </main>
  </body>
</html>
