---
import type { HTMLAttributes } from "astro/types";

type colorType = "gray" | "blue";

type Props = HTMLAttributes<"div"> & { theme?: colorType };

const { class: className, theme = "blue", ...props } = Astro.props;

const color = {
  gray: "bg-grey-900 border-grey-600 text-grey-100",
  blue: "bg-point-700 border-point-500 text-point-50",
};
---

<div
  class="p-[2px_10px] w-fit rounded-full text-[12px] font-normal border"
  class:list={[className, color[theme]]}
  {...props}
>
  <slot />
</div>
