---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === "/" + subpath?.[0];
---

<a
  href={href}
  class="rounded-[4px]"
  class:list={[className, { active: isActive }]}
  {...props}
>
  <div class="w-full h-[40px] flex items-center px-[10px] gap-[10px] [&>p]:text-grey-200 [&>p]:hover:text-white">
    <div id="test" class="h-[20px] w-[20px] rounded-sm bg-grey-200"></div>
    <p class="text-[14px] font-medium m-0"><slot /></p>
  </div>
</a>
<style>
  a {
    display: inline-block;
    text-decoration: none;
  }
  a.active {
    font-weight: bolder;
    background-color: var(--grey600) !important;
  }
  a.active #test {
    background-color: white;
  }
  a:hover {
    background-color: var(--grey800);
  }
</style>
