---
import HeaderLink from "./HeaderLink.astro";
---

<aside
  class="h-[100dvh] max-w-[240px] w-full bg-grey-950 sticky top-0 left-0 border-r border-grey-700 p-[8px]"
>
  <nav class="flex flex-col gap-[4px]">
    <div class="flex py-4 px-2 gap-[10px] items-stretch">
      <div class="w-[24px] bg-point-700 border border-point-500 rounded-md">
      </div>
      <div>
        <h1 class="text-[14px] text-grey-300 m-0">all my precious</h1>
        <h1 class="text-[16px] m-0">Moments</h1>
      </div>
    </div>
    <HeaderLink href="/">Home</HeaderLink>
    <hr class="w-full bg-grey-700 my-[4px] h-[1px]" />
    <div class="flex w-full flex-col gap-[4px]">
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
    </div>
  </nav>
</aside>
